# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Secrets & Environment
.env
.env.*
test_secrets.json
test_audio.wav

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
